.content-pendeta-center {
	display: flex;
	justify-content: space-evenly;
}

.edit-center {
	display: flex;
	justify-content: center;
}

.tulisan-tengah {
	text-align: center;
	font-size: 20px;
}

iframe.view-document {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border: none;
	width: 100%;
	height: 100%;
	/*     overflow: hidden;
    z-index: 999999; */
}
